<table class="table">
  <tr>
    <th>标题</th>
    <td>{{post.title}}</td>
  </tr>
  <tr>
    <th>内容</th>
    <td>{{post.content}}</td>
  </tr>
</table>

{{! 评论内容 }}
{{#each comments as |comment|}}
  <li>
    <p>{{comment.email}}</p>
    {{comment.content}}
  </li>
{{/each}}

<form {{action "save" on="submit"}}>
  {{ input value=newComment.email }}
  {{ input value=newComment.content }}
  <input type="submit" value="提交评论">
</form>