<table class="table">
  <tr>
    <th>标题</th>
    <td>{{model.title}}</td>
  </tr>
  <tr>
    <th>内容</th>
    <td>{{model.content}}</td>
  </tr>
</table>

{{! 评论内容 }}
{{ afterModel(model) }}
{{#each model.comments as |comment|}}
  <li>
    <p>{{comment.email}}</p>
    {{comment.content}}
  </li>
{{/each}}
